# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]
dotnet_remove_unnecessary_suppression_exclusions = category: ReSharper